.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
}

.modal-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #ffffff;
  height: auto;
  width: calc(100% - 30px);
  max-width: 700px;
  border-radius: 6px;
}

.ta-center {
  text-align: center;
}

.flx-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.ps-relative {
  position: relative;
}

.header-main {
  background-color: #ff6712;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 36px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 30px);
  max-width: 890px;
}

.btn {
  border-radius: 6px;
  padding: 6px 9px;
  font-size: 16px;
  background-color: #2478ff;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.btn.btn-large {
  padding: 12px 18px;
}

.btn.btn-red {
  background-color: #ff5466;
}

.btn.btn-black {
  background-color: #1d1d1d;
}

.input-field {
  padding: 6px 9px;
  border-radius: 6px;
  border: solid 1px #cccccc;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  background-color: #ffffff;
  color: #1d1d1d;
  height: 36px;
}

.input-field.field-error {
  border: solid 1px #ff5466;
  outline-color: #ff546688;
}

.input-error-message {
  padding-left: 6px;
  font-size: 14px;
  color: #ff5466;
}

.textarea-field {
  resize: vertical;
  height: auto;
  min-height: 108px;
}

.form-field-wrapper {
  margin-bottom: 12px;
}

.search-header {
  margin-bottom: 36px;
}

.search-fields-wrapper {
  display: flex;
  width: 100%;
  max-width: 400px;
  gap: 12px;
}

.form-label {
  padding-left: 6px;
  font-size: 14px;
  color: #444444;
}